/CSV-MainProgram/obj/Debug/net6.0/ref/CSV-MainProgram.dll
/CSV-MainProgram/obj/Debug/net6.0/refint/CSV-MainProgram.dll
/CSV-MainProgram/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/CSV-MainProgram/obj/Debug/net6.0/apphost.exe
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.AssemblyInfo.cs
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.AssemblyInfoInputs.cache
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.assets.cache
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.csproj.AssemblyReference.cache
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.csproj.BuildWithSkipAnalyzers
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.csproj.CopyComplete
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.csproj.CoreCompileInputs.cache
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.csproj.FileListAbsolute.txt
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.dll
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.GeneratedMSBuildEditorConfig.editorconfig
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.genruntimeconfig.cache
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.GlobalUsings.g.cs
/CSV-MainProgram/obj/Debug/net6.0/CSV-MainProgram.pdb
/CSV-MainProgram/obj/CSV-MainProgram.csproj.nuget.dgspec.json
/CSV-MainProgram/obj/CSV-MainProgram.csproj.nuget.g.props
/CSV-MainProgram/obj/CSV-MainProgram.csproj.nuget.g.targets
/CSV-MainProgram/obj/project.assets.json
/CSV-MainProgram/obj/project.nuget.cache
/CSV-MainProgram/obj/project.packagespec.json
/CSV-MainProgram/obj/rider.project.model.nuget.info
/CSV-MainProgram/obj/rider.project.restore.info
